<!DOCTYPE html>
<html>

<head>
  <title>{{name}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/order.css">
  <style>
    

    .card{max-width: 75% !important;}
    .center-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    a{text-decoration: none;}
    .cancelOrd{font-weight: bolder !important;}
    .card {
      width: 100%;
      /* Make the card width 100% for responsiveness */
      max-width: 400px;
      /* Set a maximum width for larger screens */
    }

    /* Adjust card size for small screens (mobile devices) */
    @media (max-width: 320px) {
      .card {
        max-width: 80%;
        /* Set a larger percentage for small screens */
        height: 75vh;
      }
    }

    .linksBtn {
      text-decoration: none;
    }

    .mb-10 {
      margin-bottom: 10px;
    }

    .mb-30 {
      margin-bottom: 30px;
    }

    .mt-20 {
      margin-top: 20px !important;
    }
  </style>
</head>

<body>
  <div class="container-fluid mb-30">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Home</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/lcommerce/hello/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fashion</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                User
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/lcommerce/login/">Login</a></li>
                <li><a class="dropdown-item" href="login">Forgot Password</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="nav flex-column nav-pills me-3 bg-warning" id="vTabs" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="verticalTutTab" data-bs-toggle="pill" data-bs-target="#vTut" type="button"
            role="tab" aria-controls="vTut" aria-selected="true">Profile</button>
          <button class="nav-link" id="verticalHomeTab" data-bs-toggle="pill" data-bs-target="#vHome" type="button"
            role="tab" aria-controls="vHome" aria-selected="false">Change Password</button>
          <button class="nav-link" id="verticalServicesTab" data-bs-toggle="pill" data-bs-target="#vServices"
            type="button" role="tab" aria-controls="vServices" aria-selected="false">Addresse's</button>
          <button class="nav-link" id="verticalOrdersTab" data-bs-toggle="pill" data-bs-target="#vOrders"
            type="button" role="tab" aria-controls="vOrders" aria-selected="false">My Order's</button>
        </div>
      </div>

      <div class="col-8">
        <div class="card">
          <div class="card-body">

            <div class="tab-content bg-light" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="vTut" role="tabpanel" aria-labelledby="verticalTutTab"
                tabindex="0">
                <h2 class="mb-4">User Profile</h2>

                <form>
                  <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" name="fullName"
                      placeholder="Enter your full name">
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email"
                      placeholder="Enter your email address">
                  </div>

                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" name="phone"
                      placeholder="Enter your Phoo.">
                  </div>

                  <div class="mb-3">
                    <label for="bio" class="form-label">Bio</label>
                    <textarea class="form-control" id="bio" name="bio" rows="3"
                      placeholder="Tell us something about yourself"></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Save Profile</button>
                </form>
              </div>

              <div class="tab-pane fade" id="vHome" role="tabpanel" aria-labelledby="verticalHomeTab" tabindex="0">
                <h2 class="mb-4">Change Password</h2>
                <form>
                
                  <div class="mb-3">
                    <label for="Npassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="Npassword" name="Npassword"
                      placeholder="Enter New Password">
                  </div>

                  <div class="mb-3">
                    <label for="Rpassword" class="form-label">Re-Enter Password</label>
                    <input type="tel" class="form-control" id="Rpassword" name="Rpassword"
                      placeholder="Re-Enter The New Password">
                  </div>

                  <button type="submit" class="btn btn-primary">Save Profile</button>
                </form>
              </div>
                  
              <div class="tab-pane fade" id="vServices" role="tabpanel" aria-labelledby="verticalServicesTab"
                tabindex="0">
                <h2 class="mb-4">My Address's</h2>
                <div class="card border-primary mb-3">
                  <div class="card-body text-center">
                    <button type="button" id="AddNewLoc" class="btn btn-lg btn-primary">Add New+</button>
                  </div>
                </div>

                <div class="shadow-lg p-4 mb-4 bg-white">
                  <div class="card border-primary mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <i class="fa fa-user"></i> Sateesh Sangaru<br> 
                          <i class="fa-solid fa-location-dot"></i> Door No 4-12 Chinna Ramarakrishna Puram Village Pathatekkali Post Vajrapukotturu Mandal Srikakulam district Andhra Pradesh-532218.
                          <br><i class="fa fa-phone"></i> +91-7993609859
                        </div>
                        <div class="col-3">
                          <i class="fa-solid fa-pen-to-square text-primary" style="font-size: 20px;"></i> 
                          |
                          <i class="fa-solid fa-trash-can text-danger" style="font-size: 20px;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="shadow-lg p-4 mb-4 bg-white">
                  <div class="card border-primary mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <i class="fa fa-user"></i> Sateesh Sangaru<br> 
                          <i class="fa-solid fa-location-dot"></i> Door No 4-12 Chintalavalasa Village and Post Vizianagaram Mandal and District Andhra Pradesh-500002.
                          <br><i class="fa fa-phone"></i> +91-7993609859
                        </div>
                        <div class="col-3">
                          <i class="fa-solid fa-pen-to-square text-primary" style="font-size: 20px;"></i> 
                          |
                          <i class="fa-solid fa-trash-can text-danger" style="font-size: 20px;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="shadow-lg p-4 mb-4 bg-white">
                  <div class="card border-primary mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <i class="fa fa-user"></i> Sateesh Sangaru<br> 
                          <i class="fa-solid fa-location-dot"></i> Tech Veerankis Madeena Guda Circle Hyderabad-540026.
                          <br><i class="fa fa-phone"></i> +91-7993609859
                        </div>
                        <div class="col-3">
                          <i class="fa-solid fa-pen-to-square text-primary" style="font-size: 20px;"></i> 
                          |
                          <i class="fa-solid fa-trash-can text-danger" style="font-size: 20px;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="shadow p-4 mb-4 bg-white">
                  <div class="card border-primary mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <i class="fa fa-user"></i> Sateesh Sangaru<br> 
                          <i class="fa-solid fa-location-dot"></i> Reconnect Energy Solutions Pvt Ltd Palace Gutthalli V.k Kalyani Commericial Complex Floor No.
                          <br><i class="fa fa-phone"></i> +91-7993609859
                        </div>
                        <div class="col-3">
                          <i class="fa-solid fa-pen-to-square text-primary" style="font-size: 20px;"></i> 
                          |
                          <i class="fa-solid fa-trash-can text-danger" style="font-size: 20px;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="tab-pane fade" id="vOrders" role="tabpanel" aria-labelledby="verticalOrdersTab" tabindex="0">
                <h2 class="mb-4">My Order's</h2>
                
                <div class="shadow-lg p-4 mb-4 bg-white">
                  <div class="card mb-3">
                    <div class="card-body">
                      
                      <div class="row">

                        <div class="col-12 mb-3">
                          <table class="table table-responsive table-success">
                            <th>
                                Order Id:
                                <a class="text-black" href="../OrderDetails">LC000001</a>
                            </th>

                            <th>
                              Quantity:4
                            </th>

                            <th>
                              Price:999/-Rs
                            </th>
                          </table>
                        </div>

                        <div class="col-3 itemImg">
                          <img src="/static/img/download.jpeg">
                        </div>
                        <div class="col-9 mb-3">
                          <a href="#" target="_blank">
                            <h5>Human Trafficking</h5>
                          </a>
                        </div>
                        <div class="col-8 mb-3">
                          <p class="mb-3">--Order Initated On :2024-01-22 04:30 pm</p>
                          <p class="mb-3">--Order Packed On :2024-01-22 04:45 pm</p>
                          <p class="mb-3">--Order Delivered On :2024-01-22 05:30 pm</p>
                        </div>
                        <div class="col-4">
                          <a href="#" class="text-danger cancelOrd">Cancel Order?</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="shadow-lg p-4 mb-4 bg-white">
                  <div class="card mb-3">
                    <div class="card-body">
                      
                      <div class="row">

                        <div class="col-12 mb-3">
                          <table class="table table-responsive table-success">
                            <th>
                                Order Id:
                                  <a class="text-black" href="{{Link}}/signUp/OrderDetails">LC000001</a>
                              </th>

                            <th>
                              Quantity:4
                            </th>

                            <th>
                              Price:999/-Rs
                            </th>
                          </table>
                        </div>

                        <div class="col-3">
                          <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpngimg.com%2Fd%2Fbook_PNG2111.png&tbnid=tqdLHGwWgPMQXM&vet=12ahUKEwiHp4mX2vCDAxXXS2wGHZHYD3cQMygRegUIARCWAQ..i&imgrefurl=https%3A%2F%2Fpngimg.com%2Fimage%2F2111&docid=M63t2wZcWjmDEM&w=600&h=505&q=book&ved=2ahUKEwiHp4mX2vCDAxXXS2wGHZHYD3cQMygRegUIARCWAQ">
                        </div>
                        <div class="col-9 mb-3">
                          <a href="#" target="_blank">
                            <h5>Human Trafficking</h5>
                          </a>
                        </div>
                        <div class="col-8 mb-3">
                          <p class="mb-3">--Order Initated On :2024-01-22 04:30 pm</p>
                          <p class="mb-3">--Order Packed On :2024-01-22 04:45 pm</p>
                          <p class="mb-3">--Order Delivered On :2024-01-22 05:30 pm</p>
                        </div>
                        <div class="col-4">
                          <a href="#" class="text-danger cancelOrd">Cancel Order?</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="shadow-lg p-4 mb-4 bg-white">
                  <div class="card mb-3">
                    <div class="card-body">
                      
                      <div class="row">

                        <div class="col-12 mb-3">
                          <table class="table table-responsive table-success">
                            <th>
                                Order Id:
                                <a class="text-black" href="http://127.0.0.1:8000/lcommerce/signUp/OrderDetails">LC000001</a>
                            </th>

                            <th>
                              Quantity:4
                            </th>

                            <th>
                              Price:999/-Rs
                            </th>
                          </table>
                        </div>

                        <div class="col-3">
                          <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpngimg.com%2Fd%2Fbook_PNG2111.png&tbnid=tqdLHGwWgPMQXM&vet=12ahUKEwiHp4mX2vCDAxXXS2wGHZHYD3cQMygRegUIARCWAQ..i&imgrefurl=https%3A%2F%2Fpngimg.com%2Fimage%2F2111&docid=M63t2wZcWjmDEM&w=600&h=505&q=book&ved=2ahUKEwiHp4mX2vCDAxXXS2wGHZHYD3cQMygRegUIARCWAQ">
                        </div>
                        <div class="col-9 mb-3">
                          <a href="#" target="_blank">
                            <h5>Human Trafficking</h5>
                          </a>
                        </div>
                        <div class="col-8 mb-3">
                          <p class="mb-3">--Order Initated On :2024-01-22 04:30 pm</p>
                          <p class="mb-3">--Order Packed On :2024-01-22 04:45 pm</p>
                          <p class="mb-3">--Order Delivered On :2024-01-22 05:30 pm</p>
                        </div>
                        <div class="col-4">
                          <a href="#" class="text-danger cancelOrd">Cancel Order?</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="shadow-lg p-4 mb-4 bg-white">
                  <div class="card mb-3">
                    <div class="card-body">
                      
                      <div class="row">

                        <div class="col-12 mb-3">
                          <table class="table table-responsive table-success">
                            <th>
                                Order Id:
                                <a class="text-black" href="http://127.0.0.1:8000/lcommerce/signUp/OrderDetails">LC000001</a>
                            </th>

                            <th>
                              Quantity:4
                            </th>

                            <th>
                              Price:999/-Rs
                            </th>
                          </table>
                        </div>

                        <div class="col-3">
                          <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpngimg.com%2Fd%2Fbook_PNG2111.png&tbnid=tqdLHGwWgPMQXM&vet=12ahUKEwiHp4mX2vCDAxXXS2wGHZHYD3cQMygRegUIARCWAQ..i&imgrefurl=https%3A%2F%2Fpngimg.com%2Fimage%2F2111&docid=M63t2wZcWjmDEM&w=600&h=505&q=book&ved=2ahUKEwiHp4mX2vCDAxXXS2wGHZHYD3cQMygRegUIARCWAQ">
                        </div>
                        <div class="col-9 mb-3">
                          <a href="#" target="_blank">
                            <h5>Human Trafficking</h5>
                          </a>
                        </div>
                        <div class="col-8 mb-3">
                          <p class="mb-3">--Order Initated On :2024-01-22 04:30 pm</p>
                          <p class="mb-3">--Order Packed On :2024-01-22 04:45 pm</p>
                          <p class="mb-3">--Order Delivered On :2024-01-22 05:30 pm</p>
                        </div>
                        <div class="col-4">
                          <a href="#" class="text-danger cancelOrd">Cancel Order?</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="shadow-lg p-4 mb-4 bg-white">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">

                        <div class="col-12 mb-3">
                          <table class="table table-responsive table-success">
                            <th>
                                Order Id:
                                <a class="text-black" href="http://127.0.0.1:8000/lcommerce/signUp/OrderDetails">LC000001</a>
                            </th>

                            <th>
                              Quantity:4
                            </th>

                            <th>
                              Price:999/-Rs
                            </th>
                          </table>
                        </div>

                        <div class="col-3">
                          <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpngimg.com%2Fd%2Fbook_PNG2111.png&tbnid=tqdLHGwWgPMQXM&vet=12ahUKEwiHp4mX2vCDAxXXS2wGHZHYD3cQMygRegUIARCWAQ..i&imgrefurl=https%3A%2F%2Fpngimg.com%2Fimage%2F2111&docid=M63t2wZcWjmDEM&w=600&h=505&q=book&ved=2ahUKEwiHp4mX2vCDAxXXS2wGHZHYD3cQMygRegUIARCWAQ">
                        </div>
                        <div class="col-9 mb-3">
                          <a href="#" target="_blank">
                            <h5>Human Trafficking</h5>
                          </a>
                        </div>
                        <div class="col-8 mb-3">
                          <p class="mb-3">--Order Initated On :2024-01-22 04:30 pm</p>
                          <p class="mb-3">--Order Packed On :2024-01-22 04:45 pm</p>
                          <p class="mb-3">--Order Delivered On :2024-01-22 05:30 pm</p>
                        </div>
                        <div class="col-4">
                          <a href="#" class="text-danger cancelOrd">Cancel Order?</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Address</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form name="addNewLocation" id="addNewLocation" class="addNewLocation">
                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="userName" id="userName" placeholder="Please Enter the Name.">
                  </div>

                  <div class="col-6 mb-3">
                    <label for="userEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="userEmail" id="userEmail" placeholder="Please Enter Email Address.">
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 mb-3">
                    <label for="phoneNo class="form-label">Phone No.</label>
                    <input type="tel" class="form-control" name="phoneNo" id="phoneNo" placeholder="Please Enter Phone No.">
                  </div>

                  <div class="col-6 mb-3">
                    <label for="pincode" class="form-label">Pincode</label>
                    <input type="tel" class="form-control" name="pincode" id="pincode" placeholder="Please Enter the Address Pincode.">
                  </div>
                </div>

                <div class="addressbar">

                </div>
                
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <input type="submit" value="Add" class="btn btn-primary">
              </form>
            </div>
            {% comment %} <div class="modal-footer"> {% endcomment %}
              {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> {% endcomment %}
              {% comment %} <button type="button" class="btn btn-primary"></button> {% endcomment %}
            {% comment %} </div> {% endcomment %}
          </div>
        </div>
      </div>


    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        $('#AddNewLoc').click(function(){
        //$("#AddNewLoc").click(function() {
          console.log('sateesh');
          $('#staticBackdrop').modal('toggle');
          //{% comment %} $('#staticBackdrop').modal('show'); {% endcomment %}
        });
      });

      const array_column = (array, column) => {
          return array.map(item => item[column]);
        };

      $("#pincode").focusout(function() {
        let pincode = this.value;
        if (!$.isNumeric(pincode)) {
          $(this).val('');
        }else{
          $.ajax({
            type: "GET",
            url: "https://api.postalpincode.in/pincode/"+pincode,
            cache: false,
            dataType:'json',
            success: function(data){
              //$("#more").after(html);
              console.log(data,typeof(data),data[0]['Status'])
              /*if(data[0]['Status'] === 'Success'){
                const post_office_names = array_column(data[0]['PostOffice'], 'Name');
                var text = '<div class="row">\
                  <div class="col-6 mb-3">\
                    <label for="vill" class="form-label">Door No & Street</label>\
                    <input type="text" name="door_no" placeholder="Enter Door No & Street Name." class="form-control">\
                  </div>\
                  <div class="col-6 mb-3">\
                    <label for="vill" class="form-label">Village/Post Office/Block</label>\
                    <select name="post" class="form-control">\
                      <option disabled selected>--Select--</option>';
                       $.each(post_office_names,function(i,v){
                        text+='<option value="'+v+'">'+v+'</option>';
                       });
                    text+='</select>\
                  </div>\
                </div>';

                const district_names = array_column(data[0]['PostOffice'], 'District');
                
                const states = array_column(data[0]['PostOffice'], 'State');
                
                text+= '<div class="row">\
                  <div class="col-6 mb-3">\
                    <label for="vill" class="form-label">District</label>\
                    <select name="dist" class="form-control">\
                      <option disabled selected>--Select--</option>';
                       $.each(district_names,function(i,v){
                        text+='<option value="'+v+'">'+v+'</option>';
                       });
                    text+='</select>\
                  </div>\
                  <div class="col-6 mb-3">\
                    <label for="vill" class="form-label">State</label>\
                    <select name="state" class="form-control">\
                      <option disabled selected>--Select--</option>';
                       $.each(states,function(i,v){
                        text+='<option value="'+v+'">'+v+'</option>';
                       });
                    text+='</select>\
                  </div>\
                </div>';
                $('.addressbar').append(text);
                
                alert("Success!");
              }else{
                alert("Failure!");
              }*/
              
            }
          });
        }
      });
    </script>
  </body>

</html>